.sidebar{
    background-color: white;;
    position:fixed;
    top:55px;
    left:0;
    bottom:0;
    width:72px;
    z-index:100;
    padding-top: 5px;
}

.sidebar-link{
    height:76px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);;
}

.sidebar-link img{
    height:26px;
    margin-bottom:5px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}